#header h1{
	text-align: center;
	color: #00CED1;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;
	font-size: 4em;
	padding: 0.2em;
}

#take-a-photo img{
	/*CSS for the take a photo button*/
	display: block;
	max-width: 80%;
	margin: 0 auto;
	padding: 2em 0;
	/*end CSS for the take a photo button*/
}

#home-search-bar input{
	width: 100%;
	color: #5c5c5c;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;
	font-size: 3em;
	padding: 0.2em 2em;
	/*margin-left: 1.5em;*/
}


#list-of-friends li{
	clear:both;
	max-height: 4em;
	border-bottom: 1px solid #5c5c5c;
}

#list-of-friends li img{
	float: left;
	max-height: 4em;
	border-radius: 100%;
	padding: 0.75em 0.2em;
}

#list-of-friends li p{
	float: left;
	color: #5c5c5c;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;
	font-size: 2.5em;
	padding: 0.75em 0.2em;
}

#footer {
	clear:both;
	width: 100%;
	bottom: 0;
    position: fixed;
}

#footer p {
	display: inline-block;
	color: #ffffff;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;
	font-size: 3em;
	border-left: 1px solid white;
	padding: 0.5em;
}



/******************
COLOURS
******************/

#header {
	background: #ffffff;
	/*border-bottom: 1px solid #008888;*/
}

#take-a-photo {
	background: #00CED1;
}

#search {
	background: #ffffff;
}

#home-search-bar input{
	background-image: url("../img/search-icon.png");
	background-repeat: no-repeat;
	background-size: 1.5em;
	background-position: left center;
	border-top: 1px solid #008888;
	border-bottom: 1px solid #008888;
}

#content {
	/*background-image: url("../img/background-pattern.jpg");*/
}

#footer {
	background: #00CED1;
}