<template name="viewProfile">

    <section id="header">
    <h1> {{firstName }} {{lastName}} </h1>
  </section>

  <!-- Main body of page -->
  <section id="content">
    <div id=top-left>
      <img src="../{{photo}}" title="{{firstName}}'s profile photo">
      <p>{{relationship}}</p>
    </div>

    <div id=top-right>
      <!-- Should be at most 3 lines or breaks formatting -->
      <!-- ZZZ | This comment will have to vary - for now it could vary based on no cards sent and >1 cards sent -->
      <h3>{{profileMessage}}</h3>
    </div>

    <!-- ZZZ | this will need to be updated to an array directive -->
    <div id=important-dates>
      <!-- ZZZZ | Turn this into a ul and use ng-repeat, updating CSS too -->
      <ul>
        {{#each dates}}
        <li><label>{{label}}:</label> {{date}}</li>
        {{/each}}
      </ul>
    </div>

    <div id=cards-profile-display>
      <h2 ng-show="friend.cards.length">CARDS I HAVE SENT {{firstName}} {{lastName}}</h2>
      <h2 ng-hide="friend.cards.length">You haven't sent {{firstName}} any cards yet</h2>
      <!-- Images also uploaded here (4 cards): http://imgur.com/yOG825o,mzxAXeD,tWWuCnH,uAiy86O -->
      <ul>
        {{#each cards}}
        <li>
          <img src="../{{url}}"></li>
        {{/each}}
      </ul>
    </div>
  </section>

</template>
