<!DOCTYPE html>
<html lang="en" ng-app="allTheHellos">
<head>
  <meta charset = "utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

  <link rel="stylesheet" type="text/css" href="../public/css/reset.css">
  <link rel="stylesheet" type="text/css" href="../public/css/main.css">

  <!-- Adding google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>
</head>

<body>

<!-- ********************
VIEW FRIEND PROFILE
************************ -->

  <section id="profile" ng-controller="FriendInfoController">
    <!-- Toolbar including title, back button and other navigation buttons -->
    <div id="header" >
      <h1> {{friend.firstName }} {{friend.lastName}} </h1>
    </div>

    <!-- Main body of page -->
    <div id="content">
      <div id=top-left>
        <img ng-src="{{friend.photo}}" title="Friend's profile photo">
        <p>{{friend.relationship}}</p>
      </div>

      <div id=top-right ng-controller='ProfileMessageController'>
        <!-- Should be at most 3 lines or breaks formatting -->
        <!-- ZZZ | This comment will have to vary - for now it could vary based on no cards sent and >1 cards sent -->
        <h3>{{profileMessage}}</h3>
      </div>

      <!-- ZZZ | this will need to be updated to an array directive -->
      <div id=important-dates ng-controller='ImportantDatesController'>
        <!-- ZZZZ | Turn this into a ul and use ng-repeat, updating CSS too -->
        <ul ng-repeat="date in dates">
          <li><label>{{date.label}}:</label> {{date.date | date:'dd-MMM-yyyy'}}</li>
        </ul>
      </div>

      <div id=cards-profile-display>
        <h2 ng-show="friend.cards.length">CARDS I HAVE SENT {{friend.firstName}} {{friend.lastName}}</h2>
        <h2 ng-hide="friend.cards.length">You haven't sent {{friend.firstName}} any cards yet</h2>
        <!-- Images also uploaded here (4 cards): http://imgur.com/yOG825o,mzxAXeD,tWWuCnH,uAiy86O -->
        <ul> <!--ng-controller='CardsDisplayController -->
          <li ng-repeat="card in friend.cards">
            <img ng-src="{{card}}"></li>
        </ul>
      </div>


    </div> <!-- End of content div -->
    <!-- ZZZ | These links could also be put in dynamically through Angular based on the page -->
    <div id="footer">
      <a href="index.html"> Home </a>
      <a href="/"> Edit Friend </a>
      <!-- ZZZ | Missing links here to add a new card to this person -->
    </div>
  </section><!-- End of profile -->

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
