<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset = "utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

  <link rel="stylesheet" type="text/css" href="./css/reset.css">
  <link rel="stylesheet" type="text/css" href="./css/main.css">

  <!-- Adding google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>
</head>

<body>

<!-- ********************
  HOME PAGE
************************ -->

  <section id="home">
    <!-- Toolbar including title, back button and other navigation buttons -->
    <div id="header">
      <h1> ALL THE HELLOS </h1>
    </div>

    <!-- Main body of page -->
    <div id="content">
      <!-- Take a photo section -->
      <!-- ZZZ | This will need to actually do something -->
      <div id="take-a-photo">
        <img src="./img/take-a-photo-white.png"/>
      </div>

      <!-- Section to find friends from the main page -->
      <div id="search" ng-controller="SearchController">
        <form id="home-search-bar">
          <input type="text" name="search-term" placeholder="Find a lucky friend..."/>
        </form>

        <!--List of friends that changes as the user is typing-->
        <ul id="list-of-friends" ng-controller="FriendListController" ng-repeat="friend in friends">
          <li><img ng-src="{{friend.photo}}"><a ng-href="{{friend.profileURL}}">{{friend.firstName}} {{friend.lastName}}</a></li>
        </ul>
      </div>
    </div> <!-- End of content div -->

<!-- ZZZ | These links could also be put in dynamically through Angular based on the page -->
    <div id="footer" ng-controller='FooterController'>
      <p> Sign in </p>
      <p> Add friend </p>
    </div>
  </section><!-- End of homepage -->

<!-- ********************
  CAMERA PAGE
************************ -->

<!-- ********************
  CAMERA PAGE
************************ -->





</body>
</html>
